.resumeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--color-bg); /* Dark background color */
  color: var(--color-text); /* Light text color */
  min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

.resumeHeader {
  margin-bottom: 20px;
}

.downloadButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary); /* Blue background color */
  color: var(--color-primary-foreground); /* White text color */
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: var(--color-primary-600); /* Darker primary on hover */
}

.resumeContent {
  width: 100%;
  max-width: 800px;
}

.resumeImage {
  width: 100%;
  height: auto;
  border: none; /* Remove border */
}
