.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--color-header-bg); /* Dark background color */
  color: var(--color-text);
  padding: 0 20px; /* Horizontal padding */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}

.navLinkBox {
  color: var(--color-text); /* Text color for links */
  text-decoration: none;
  margin: 0 10px; /* Space between links */
  height: 75%;
  display: flex;
  background-color: var(--color-header-bg);
  border-radius: 5px;
}

.navLinkBox:hover {
  text-decoration: none;
}

.navLink {
  color: var(--color-text);
  text-decoration: none;
  padding: 0 20px;
  flex: 1;
  display: flex;
  align-items: center;
}

.navLeft {
  display: flex;
  align-items: center;
  height: 100%;
}

.navRight {
  display: flex;
  align-items: center;
  height: 100%;
}

.spaceFiller {
  flex-grow: 1;
}
