.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  min-height: 90vh; /* Ensure the container takes up the full height of the viewport */
}

.projectsContainer h1 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.githubLinkContainer {
  margin-bottom: 40px;
}

.githubLink {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary); /* Blue background color */
  color: var(--color-primary-foreground); /* White text color */
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.githubLink:hover {
  background-color: var(--color-primary-600); /* Darker primary on hover */
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}
