.homeSkillsSection {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.homeSkillsHeader {
  text-align: left; /* Align the skills header to the left */
  margin-left: 20px; /* Add some left margin for better alignment */
}

.homeSkillsGroupContainer {
  display: flex;
  justify-content: space-around; /* Space out the groups evenly */
  flex-wrap: wrap; /* Allow groups to wrap to the next line if needed */
  padding: 20px;
}

.homeSkillsGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.homeSkillsGroupHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.homeSkillsGroupIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.homeSkillsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSkillsList span {
  margin: 5px 0;
}
