.contactFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--color-footer-bg); /* Dark background color */
  color: var(--color-text); /* Light text color */
  border-top: 1px solid var(--color-border); /* Subtle border at the top */
}

.contactFooterHeader {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contactFooterItem {
  text-align: center;
  margin-bottom: 10px;
}

.contactFooterItem h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.contactFooterItem p {
  margin: 0;
  font-size: 1rem;
}

.contactFooterItem a {
  color: var(--color-link); /* Link color */
  text-decoration: none;
}

.contactFooterItem a:hover {
  text-decoration: underline;
}
