:root {
  --app-max-width: 1200px;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

main {
  flex: 1 0 auto;
}
